* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0px;
}

body {
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center;
}

.container {
  position: relative;
  width: 90%;
  height: 90%;
  margin: 0 auto;
  padding: 5px;
  display: flex;
  border-radius: 10px;
  color: white;
  background-color: whitesmoke;
}

.container__left {
  min-width: 65%;
}

.calender {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  border-radius: 10px;
  background-color: #a752fd;
}

.calender__top {
  margin: 0px auto;
  width: 60%;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  font-size: 30px;
  align-items: center;
}

.next,
.prev {
  cursor: pointer;
}

.weekdays {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  padding: 0px 20px;
}

.weekdays div {
  width: 14.28%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.days {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  padding: 0px 20px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.days .day {
  width: 13%;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid white;
  margin-bottom: 5px;
  border-radius: 20px;
  transition: background-color 0.4s ease;
  position: relative;
  font-size: 25px;
}

.days .day:not(.prev-month, .next-month):hover {
  background-color: white;
  color: #a752fd;
}

.days .prev-month,
.days .next-month {
  color: white;
  border: 1px solid rgb(182, 182, 182);
}

.ripple-btn {
  position: relative;
  overflow: hidden;
  border: none;
  background-color: white;
  color: #a752fd;
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 50px;
  cursor: pointer;
  margin: 10px;
}

.ripple {
  position: absolute;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.6);
  transform: scale(0);
  animation: ripple-animation 0.6s linear;
}

@keyframes ripple-animation {
  to {
    transform: scale(4);
    opacity: 0;
  }
}

.days .active {
  background-color: #8000ff;
  position: relative;
  font-size: 60px;
  font-weight: 500;
  -webkit-box-shadow: 1px 1px 9px 2px rgba(0, 0, 0, 1);
  -moz-box-shadow: 1px 1px 9px 2px rgba(0, 0, 0, 1);
  box-shadow: 1px 1px 9px 2px rgba(0, 0, 0, 1);
  border: 1px solid black;
}

.days .today {
  font-size: 60px;
  background-color: #8000ff;
}

.days .event {
  position: relative;
}

.days .event::after {
  content: '';
  position: absolute;
  bottom: 10%;
  left: 50%;
  width: 20px;
  height: 6px;
  border-radius: 30px;
  transform: translateX(-50%);
  background-color: white;
}

.days .event:hover::after {
  background-color: #a752fd;
}

.goto-today {
  display: flex;
  height: 35px;
  justify-content: space-between;
  width: 30%;
  align-items: center;
  margin: 0px auto;
  padding: 5px;
  border: 1px solid grey;
  border-radius: 10px;
}

.goto {
  background-color: white;
  padding: 5px;
  border-radius: 10px;
}

.date__input {
  outline: none;
  border: none;
  padding: 5px;
}

.go__btn {
  outline: none;
  border: none;
  padding: 5px;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 10px;
  color: #8000ff;
}

.today__btn {
  border: none;
  outline: none;
  padding: 6px;
  background-color: #8000ff;
  color: white;
  border-radius: 10px;
}
